<%= link_to "Lobby", root_path, class: "btn btn-primary" %>

<div class="wgc-board">
  <div class="board-wrapper">
    <div class="user-info">
      <% if user_signed_in? && @game.user_check(current_user) %>
        You, <%= current_user.email %> are part of this game!
      <% elsif user_signed_in? && !@game.user_check(current_user) && @game.users.length < 2 %>
        you are not part of this game
        <%= link_to "Join this game", game_join_game_path(@game) %>
      <% else %>
        You are not logged in.
      <% end %>
    </div>
    <div hidden id="game-id"><%= @game.id %></div>

    <div class="game-header">
    </div>

    <div class="flex-wrap tile-wrap" id="board">
      <div class="cards">

      </div>
    </div>


      <div id='user-hand' class='flex-column'>
            <div class="flex-column hand-wrapper flex-row">

            </div>
            <img src="" alt="" />

      </div>
      <hr>
  </div>
</div>

<%= javascript_include_tag "game" %>
